*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family: 'Mingzat', sans-serif;;
}
h1{
    font-size: 55px;
}
.header-part{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.2)),url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.header-part .header-content{
    color: white;
}
#all-buttons{
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    display:inline-block;
    background: linear-gradient(rgb(164, 7, 255),rgba(10, 10, 10, 0.217));
    border: 0px solid black;
}
.header-part .header-content h3{
    margin: 30px 0px;
}




footer{
    background-color: #0b0d17;
    height: 10vh;
    text-align: center;
    color: white;
    display: flex;

}
colorful-humbel h3{
    padding-top: 10px;
}