*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: font-family: 'Mingzat', sans-serif;;
}
h1{
    font-size: 50px;
}
.header-part{
    background-image:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.2)),url(images/cover.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height:50vh;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align: center;
}
.header-part .header-content{
    color: white;
}
#all-buttons{
    color: white;
    text-decoration: none;
    background-color: orangered;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: 400;
    font-size: 18px;
    display:inline-block;
    background: linear-gradient(rgb(164, 7, 255),rgba(10, 10, 10, 0.217));
    border: 0px solid black;
}
.header-part .header-content h3{
    margin: 30px 0px;
}
.donation-part{
    margin:50px 0%;
    height: 50vh;
    width: 100%;

}
.donation-head{
    display:grid;
    justify-content: center;
    align-items: center;
}
.amount-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.box1{
    height: 100px;
    width: 120px;
    background-color: rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.box2{
    height: 100px;
    width: 120px;
    background-color: rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.box3{
    height: 100px;
    width: 120px;
    background-color: rgba(0,0,0,0.1);

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.box4{
    height: 100px;
    width: 120px;
    background-color: rgba(0,0,0,0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
}
.box5{
    height: 100px;
    width: 120px;
    background-color: #66339996;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    border: 2px solid #66339996;
}
.donation-footer{
    
}
.about-myself{
    width: 100%;
    height: 50vh;
    margin-top: 5%;
    margin-bottom: 5%;
}
.about-myself h1{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
}
.about-myself h3{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
}
.about-myself .submit-part{
    background-color: #fff4d6;
    width: 40%;
    height: 20vh;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 600px;
}
#email-sec{
    padding: 13px 15px;
    outline: none;
    border: none;
    border-radius: 5px;
}

footer{
    background-color: #0b0d17;
    height: 10vh;
    text-align: center;
    justify-content: center;
    color: white;
}
.colorful-humbel{
    padding-top: 10px;
    display: block;
    color: tomato;
    font-family: 'Lobster', cursive;
}